<section id="questions-list-section">
  <div class="row">
    <div class="small-1 medium-1 large-1 columns titles">
        <h4>Views</h4>
    </div>
    <div class="small-1 medium-1 large-1 columns titles">
        <h4>Answers</h4>
    </div>
    <div class="small-1 medium-1 large-1 columns titles">
        <h4>Votes</h4>
    </div>
    <div class="small-8 medium-8 large-8 columns titles">
      <h4>
      Questions
      </h4>
    </div>
    <% questions.each do |question| %>
  <div class="row">
    <div class="small-1 medium-1 large-1 columns titles">
        <%= question.view_count %>
    </div>
    <div class="small-1 medium-1 large-1 columns titles">
        <%= question.ans_count %>
    </div>
    <div class="small-1 medium-1 large-1 columns titles">
        <%= question.vote_count %>
    </div>
    <div class="small-8 medium-8 large-8 columns">
      <p>
      <a class='questions' href="/questions/<%= question.id %>"><%= question.question_text %></a>
      </p>
    </div>

  </div>
    <% end %>
</section>



  <div id="form-placeholder"></div>
  <div id="register-form-placeholder"> </div>
  <div id="form-placeholder-background"></div>

