
<div id='ask_background'>

<div class='row spacing'>
  <a href="/index">Return to questions page</a>
</div>



<div class='row'>
  <div class='small-1 columns' id="question-action-buttons">
    <p><a href="/questions/<%=@question.id%>/edit" id="up-vote-button"><img src="/images/up-arrow.png" class="vote-button"></a></p>
    <p id="composite-votes"><%= @comp_votes %></p>
    <p><a href="/questions/<%=@question.id%>/edit" id="down-vote-button"><img src="/images/down-arrow.png" class="vote-button"></a></p>
    <p><a href="/questions/<%=@question.id%>/edit" id="favorite-button"><img src="/images/star.png" class="vote-button"></a></p>
  </div>
  <div class='large-10 columns'>

  <h3 id="question-header-text"><%=@question.question_text %></h3>
  <div id="row">
    <img src="/images/starwars_man.png" id="question-page-asker-img" class="large-2 columns">
    <p class='quest_info large-10 columns'>Asked by <a href="/users/<%=@asker.id%>"><%= @asker.username %></a><br>Updated on <%= @question.updated_at %></p>
  </div>
  </div>
  <div class='small-1 columns'>
    <% @tags.each do |tag| %>
      <p class='tag'><%= tag.tag_name %></p>
    <% end %>
  </div>
</div>


<div class='row'>
  <div id="question-stats">
    <div class='large-2 columns' >
      <p id="comment-count" class='stats'>Comments:</p>
        <p class='stats'><%=@question.comments.size%></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Answers:</p>
        <p class='stats' id="composite-votes"><%= @question.answers.size %></p>
    </div>
    <div class='large-2 columns' >
      <p class='stats'>Up Votes:</p>
        <p class='stats' id="up-vote-count"><%= @up_votes %></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Down Votes:</p>
        <p class='stats' id="down-vote-count"><%= @down_votes %></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Favorited:</p>
        <p class='stats' id="favorite_count"><%= @favorites %></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Views</p>
      <p class='stats'> 0 </p>
  </div>
</div>

<div id="comments-section">
  <h5>Comments</h5>
  <div id = "comments-in-comments-section">
    <% @question.comments.each do |comment| %>
      <p><%= comment.comment_text %> by <a href="/users/<%=comment.user_id%>"><%= User.find_by(id: comment.user_id).username%></a> on <%=comment.created_at %></p>
    <% end %>
    <% if @question.comments.empty? %>
      <p> No comments this question has! </p>
    <% end %>
  </div>
  <% if logged_in? %>
  <a href="/comments/new" id="new-comment-link-question" class="new-comment-link">Add a comment</a>
  <% end %>
</div>


<h5>Answers</h5>
<div id="answers-section">

<% if @answers %>
<% @answers.each do |answer| %>

<div class="answer-and-comments">
<div id="answer-wrapper">
  <div class="row">
    <div class='small-2 columns' id="question-action-buttons">
      <p><a href="/questions/<%=@question.id%>/edit" id="up-vote-button"><img src="/images/up-arrow.png" class="vote-button"></a></p>
      <p><a href="/questions/<%=@question.id%>/edit" id="down-vote-button"><img src="/images/down-arrow.png" class="vote-button"></a></p>
    </div>
    <div class='small-10 columns answer-text'>
      <p id="answer-<%=answer.id%>"><%= answer.answer_text %></p>
    </div>
  </div>
  <div class="row">
    <p class="small-7 columns"></p>
    <img src="/images/c3po.jpg" id="question-page-asker-img" class="large-2 columns" >
    <p class="large-2 columns"><a href="/users/<%=answer.user.id%>"><%= answer.user.username %></a></p>
    <p class="large-1 columns"></p>
  </div>
</div>

<div id="answer-comments-<%=answer.id%>" class="answer-comments-section">
  <div id = "comments-in-answers-section">
    <p>Comments: </p>
    <% answer.comments.each do |comment| %>
      <p class="answer-comment"><%=comment.comment_text %> by <a href="/users/<%=comment.user_id%>"><%= User.find_by(id: comment.user_id).username%></a> on <%=comment.created_at %></p>
    <% end %>
    <% if answer.comments.empty? %>
      <p> No comments this question has! </p>
    <% end %>
  </div>
  <% if logged_in? %>
    <a href="/comments/new" id="new-comment-link-answer-<%=answer.id%>" class="new-comment-link-answer">Add a comment</a>
  <% end %>
</div>
</div>
<% end %>
<% end %>
</div>

<% if logged_in? %>
<h5>Your Answer</h5>
  <form id="your_answer_form" method="POST" action="/answers/new">
      <label for="your_answer">Submit an answer to this question:</label>
      <textarea id="your_answer" name="answer[answer_text]" placeholder="type your answer here"></textarea>
      <input type="hidden" name="answer[user_id]" value="<%=current_user.id%>">
      <input type="hidden" name="answer[question_id]" value="<%=@question.id%>">
      <input type="submit" value="Submit Answer">
  </form>
<% end %>

<% if logged_in? #&& Question.author?(@question.id, current_user.id) %>
  <form id="edit_question_button" method="POST" action="/questions/<%=@question.id%>/edit">
    <input type="submit" value="Edit Question">
  </form>
<% end %>
</div>
