
<div id='ask_background'>
<div class='row'>
  <div id="question-stats">
    <div class='large-2 columns' >
      <p id="comment-count" class='stats'>Comments:</p>
        <p class='stats'><%=@question.comments.size%></p>
    </div>
    <div class='large-2 columns' >
      <p class='stats'>Up Votes:</p>
        <p class='stats' id="up-vote-count"><%= @up_votes %></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Down Votes:</p>
        <p class='stats' id="down-vote-count"><%= @down_votes %></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Composite Votes:</p>
        <p class='stats' id="composite-votes"><%= @comp_votes %></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Favorited:</p>
        <p class='stats' id="favorite_count"><%= @favorites %></p>
    </div>
    <div class='large-2 columns'>
      <p class='stats'>Views</p>
      <p class='stats'> 0 </p>
  </div>
</div>


<div class='row'>
  <div class='small-2 columns' id="question-action-buttons">
    <p><a href="/questions/<%=@question.id%>/edit" id="up-vote-button"><img src='http://imgur.com/uPdxhgO'></a></p>
    <p><a href="/questions/<%=@question.id%>/edit" id="down-vote-button">Down Vote</a></p>
    <p><a href="/questions/<%=@question.id%>/edit" id="favorite-button">Favorite</a></p>
  </div>
  <div class='large-10 columns'> 

<h3 id="question-header-text"><%=@question.question_text %></h3>
    <p class='quest_info'>Asked by <%= @asker.username %></p>
    <p class='quest_info'>Updated on <%= @question.updated_at %></p>
  </div>
</div>



<h5>Comments</h5>

<% @question.comments.each do |comment| %>
<p><%= comment.comment_text %> by <%= User.find_by(id: comment.user_id).username%> on <%=comment.created_at %></p>
<% end %>

<%= erb :"/answers/_answers_list", locals: {question: @question}, layout: false %>

<% if logged_in? %>
<h5>Your Answer</h5>
  <form id="your_answer_form" method="POST" action="/answers/new">
      <label for="your_answer">Submit an answer to this question:</label>
      <textarea id="your_answer" name="answer[answer_text]" placeholder="type your answer here"></textarea>
      <input type="hidden" name="answer[user_id]" value="<%=current_user.id%>">
      <input type="hidden" name="answer[question_id]" value="<%=current_user.id%>">
      <input type="submit" value="Submit Answer">
  </form>
<% end %>

<% if logged_in? #&& Question.author?(@question.id, current_user.id) %>
  <form id="edit_question_button" method="POST" action="/questions/<%=@question.id%>/edit">
    <input type="submit" value="Edit Question">
  </form>
<% end %>
</div>
