<main>

<h3 id="question-header-text"><%=@question.question_text %></h3>

<p>Asked by<%= @asker.username %></p>
<p>Updated on<%= @question.updated_at %></p>

<div id="question-stats">
<p id="comment-count">Comments:</p>
  <p><%=@question.comments.size%></p>
<p>Up Votes:</p>
  <p id="up-vote-count"><%=Vote.up_votes(@question.id, "Question")%></p>
<p>Down Votes:</p>
  <p id="down-vote-count"><%=Vote.down_votes(@question.id, "Question")%></p>
<p>Composite Votes:</p>
  <p id="composite-votes"><%=Vote.composite_votes(@question.id, "Question")%></p>
<p>Favorited:</p>
  <p id="favorite_count"><%=Favorite.favorite_total(@question.id, "Question")%></p>
</div>

<div id="question-action-buttons">
<a href="/questions/<%=@question.id%>/edit" id="up-vote-button">Up Vote</a>
<a href="/questions/<%=@question.id%>/edit" id="down-vote-button">Down Vote</a>
<a href="/questions/<%=@question.id%>/edit" id="favorite-button">Favorite</a>
</div>


<h5>Comments</h5>

<% @question.comments.each do |comment| %>
<p><%= comment.comment_text %></p>
<% end %>

<h5>Answers</h5>
<% if @question.answers.size > 0 %>
<% @question.answers.each do |answer| %>
<p><%= answer.answer_text %></p>
<% end %>
<% end %>

<h5>Your Answer</h5>




</main>
