<main id="user_show_background">
<div>
  <%= erb :'users/_edit', locals: {user: @user}, layout: false %>
</div>

<div id ="user-content-container">
  <div class="row large-5 columns" id="profile-view">
    <div id="tab-links">
      <a id="user-question-tab-link">QUESTIONS</a>
      <a id="user-answers-questions-tab-link">ANSWERS</a>
      <a id="user-history-questions-tab-link">HISTORY</a>
      <a id="user-favorites-questions-tab-link">FAVORITES</a>
    </div>

  <img id = "profile-pic" src = "/images/starwars_man.png">

    <h3><%= @user.username %></h3>
    <div id="edit-delete-user-links">
    
    <% if logged_in? %>
      <a id="edit-user-link" href="/users/<%= @user.id %>/edit">edit profile</a>
    <% end %>
    </div>

    <div id="user-questions-tab-data" class="list-of-things row large-5 columns">
      <p>Questions Asked:</p>

      <% @user.questions.each do |question|%>
      <a href="/questions/<%= question.id %>"> <p> <%= question.question_text %> </p> </a>
      <%end%>
    </div>

    <div id="user-answers-tab-data" class="list-of-things row large-5 columns">
      <p>Answers Given:</p>

      <% @user.answers.each do |answer|%>
      <a href="/answers/<%= answer.id %>"> <p><%= answer.answer_text %></p> </a>
      <%end%>
    </div>

    <div id="user-history-tab-data" class="list-of-things row large-5 columns">
      <p>Answers Given:</p>
      <p>Member since : <%=@user.created_at%></p>
      <p>Number of questions asked: <%= @user.questions.size %></p>
      <p>Number of answers given: <%= @user.answers.size %></p>
    </div>

    <div id="user-favorites-tab-data" class="list-of-things row large-5 columns">
      <p>Favorite Questions:</p>
        <% @user.favorited_questions.each do |ques| %>
          <%= ques.question_text %>
        <% end %>

      <p>Favorite Answers:</p>
      <% @user.favorited_answers.each do |ans| %> 
        <%= ans.answer_text %>
        <br>
      <% end %>
    </div>
  </div>
</main>