<main id="user_show_background">
<div>
  <%= erb :'users/_edit', locals: {user: @user}, layout: false %>
</div>

<div id ="user-content-container">
  <div class="row large-5 columns" id="profile-view">
    <div id="tab-links">
      <a id="user-question-tab-link">QUESTIONS</a>
      <a id="user-answers-questions-tab-link">ANSWERS</a>
      <a id="user-history-questions-tab-link">HISTORY</a>
      <a id="user-favorites-questions-tab-link">FAVORITES</a>
    </div>

  <img id = "profile-pic" src = "/images/starwars_man.png">

    <h3><%= @user.username %></h3>
    <div id="edit-delete-user-links">
    
    <% if logged_in? %>
      <a id="edit-user-link" href="/users/<%= @user.id %>/edit">edit profile</a>
    <% end %>
    </div>

    <div id="user-questions-tab-data" class="list-of-things row large-5 columns">
      <p><span class="user_show_list_titles">Questions Asked:</span></p>

      <% @user.questions.each do |question|%>
      <a href="/questions/<%= question.id %>"> <p> <%= question.question_text %> </p> </a>
      <%end%>
    </div>

    <div id="user-answers-tab-data" class="list-of-things row large-5 columns">
      <p class="user_show_list_titles">Answers Given:</p>

      <% @user.answers.each do |answer|%>
      <a href="/answers/<%= answer.id %>"> <p><%= answer.answer_text %></p> </a>
      <%end%>
    </div>

    <div id="user-history-tab-data" class="list-of-things row large-5 columns">
      <p><span class="user_show_list_titles">Answers Given:</span></p>
      <p><span class="user_show_list_titles">Member since:</span> <%=@user.created_at%></p>
      <p><span class="user_show_list_titles">Number of questions asked:</span> <%= @user.questions.size %></p>
      <p><span class="user_show_list_titles">Number of answers given:</span> <%= @user.answers.size %></p>
    </div>

    <div id="user-favorites-tab-data" class="list-of-things row large-5 columns">
      <p class="user_show_list_titles">Favorite Questions:</p>
        <% @user.favorited_questions.each do |ques| %>
          <p><%= ques.question_text %></p>
        <% end %>

      <p class="user_show_list_titles">Favorite Answers:</p>
      <% @user.favorited_answers.each do |ans| %> 
        <p><%= ans.answer_text %></p>
        <br>
      <% end %>
    </div>
  </div>
</main>